
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<h2>Index</h2>
<script>
    $(function () {
        //创建与服务器的连接，指定连接到MessageHub这个hub类（注意MessageHub的m小写）
        var chat = $.connection.messageHub;
        //定义浏览器端函数，该函数可通过服务器端的hub类中调用
        chat.client.newLog = function () {
            //some code by yourself
        }
        //启动signalr的与服务器的连接
        $.connection.hub.start();
    })
</script>


