@{
    Layout = null;
}
@using CZBK.ItcastOA.Model
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>工票信息</title>
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script src="~/Scripts/MyNewJS.js"></script>
    <script src="~/Scripts/jquery.jqprint-0.3.js"></script>
    <script src="~/Scripts/DatePicker.js"></script>
    <script type="text/javascript">
        $.fn.extend({

            resizeDataGrid: function (heightMargin, widthMargin, minHeight, minWidth) {

                var height = $("#dgdiv").height() - heightMargin;
                var width = $("#dgdiv").width() - widthMargin;
                height = height < minHeight ? minHeight : height;
                width = width < minWidth ? minWidth : width;
                $(this).datagrid('resize', {
                    height: height,
                    width: width
                });
            }
        });


        //清空datagrid数据
        function cleanDatagrid() {
            var item = $('#tt').datagrid('getRows');
            if (item) {
                for (var i = item.length - 1; i >= 0; i--) {
                    var index = $('#tt').datagrid('getRowIndex', item[i]);
                    $('#tt').datagrid('deleteRow', index);
                }
            }
        }

        // 当窗口大小发生变化时，调整DataGrid的大小211434
        $(function () {
            loadData();

            $('#serchBuMen').combobox({
                onChange: function (newValue, oldValue) {
                    $('#serchPerson').combobox('loadData', {});
                    $("#serchPerson").combobox("clear");
                    $("#serchPerson").combobox("reload", "/YSGP/GetPersonList?BMID=" + newValue);
                }
            });
        });

        //清空datagrid数据
        function cleanDatagrid() {
            var item = $('#tt').datagrid('getRows');
            if (item) {
                for (var i = item.length - 1; i >= 0; i--) {
                    var index = $('#tt').datagrid('getRowIndex', item[i]);
                    $('#tt').datagrid('deleteRow', index);
                }
            }
        }
        //导出表
        function toExcel() {
            //($("#tt").datagrid("options").columns)[0].length;
            var addTotal = "</table></div></div>";
            var htmlData = $(".datagrid-view2").html();
            htmlData = htmlData.substring(0, htmlData.length - 136);
            var rows = $('#tt').datagrid('getRows')//获取当前的数据行
            var timeAll = 0,
                moneyAll = 0,
                jsMoneyAll = 0;
            for (var i = 0; i < rows.length; i++) {
                timeAll += rows[i]['WorkTime'];
                moneyAll += rows[i]['PGpersonAllWages'];
                jsMoneyAll += rows[i]['SettlementAmount'];
            }
            var title =  '工票统计明细';
            var colCount = 9;
            var tableHead = "<html><meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\" />" +
                                       "<style type='text/css'>tbody tr td{text-align:center;border:solid .5pt Black;} </style>" +
                                       "<body><table >";
            var Theard = "<thead><tr><td colspan='" + colCount + "' style=' font-family:黑体; font-size:25px;text-align:center '>" + title + "</td></tr></thead>";
            var addTotal = "<tfoot><tr><td style=' font-family:黑体; font-size:35px;text-align:center;border:solid .5pt Black; ' colspan='5';>合计</td>"
                + "<td style='text-align:center;border:solid .5pt Black;'>" + timeAll + "</td><td style='text-align:center;border:solid .5pt Black;'></td><td style='text-align:center;border:solid .5pt Black;'>" + moneyAll + "</td><td style='text-align:center;border:solid .5pt Black;'>" + jsMoneyAll + "</td></tr></tfoot></table></div></div>";
            $("#OFtable").val(tableHead + Theard + htmlData + addTotal + "</table></body></html>"); //获取并拼接代码
            $("#ExcelForm").submit();
        }
        //加载磅秤信息页面
        function loadData(pars) {
            $('#tt').datagrid({
                url: '/YSGP/GetAllGPtopInfo',
                title: '工票信息',
                height: $("#dgdiv").height() - 20,
                fitColumns: false, //列自适应
                nowrap: false,
                rownumbers: true,
                //onClickCell: onClickCell,
                //onAfterEdit: onAfterEdit,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[
                    {
                        field: 'GPtime', title: '时间', align: 'center',
                        formatter: function (value, row, index) {
                            return ChangeDateFormat2(value);
                        }
                    },
                    { field: 'PGbumen', title: '派工部门', align: 'center' },
                    { field: 'PGperson', title: '派工人员', align: 'center' },
                    {
                        field: 'StartTime', title: '起始时间', align: 'center',
                        formatter: function (value, row, index) {
                            return ChangeDateFormat3(value);
                        }
                    },
                    {
                        field: 'EndTime', title: '结束时间', align: 'center',
                        formatter: function (value, row, index) {
                            return ChangeDateFormat3(value);
                        }
                    },
                    { field: 'WorkTime', title: '用工工时(小时)', align: 'center' },
                    { field: 'WorkAddress', title: '工作地点', align: 'center' },
                    { field: 'gpInfo', title: '工作详情', align: 'center',width:200},
                    { field: 'PGpersonAllWages', title: '派工人员工资总额(元)', align: 'center' },
                    { field: 'SettlementAmount', title: '结算金额(元)', align: 'center' },
                ]],
                toolbar: "#SerchTypeDIV",
            });
        }
        /*function seeWorkInfo() {
            var row = $('#tt').datagrid('getSelected');
            var topid = row.ID;
            $.post("/YSGP/GetAllGPInfo", { topID: topid }, function (res) {
                var thead="<thead><tr><td colspan=\"3\"  style=\"font-family:黑体; font-size:25px;text-align:center\">工作详细</td></tr></thead>";
                var tabHead = "<tr  id=\"tabHead\"><td style=\"width:100;text-align:center;border:1px solid silver\">工作地点</td><td style=\"width:300;text-align:center;border:1px solid silver\">工作内容</td><td style=\"width:130;text-align:center;border:1px solid silver\">实际工作时间</td></tr>";
                var tabBody = "";
                $.each(res, function (idx, obj) {
                    tabBody = tabBody + "<tr><td style=\"text-align:center;border:1px solid silver\">" + obj.WorkAddress + "</td><td style=\"text-align:center;border:1px solid silver\">" + obj.WorkInfo + "</td><td style=\"text-align:center;border:1px solid silver\">" + ChangeDateFormat3(obj.WorkTrueStartTime) + "~" + ChangeDateFormat3(obj.WorkTrueEndTime) + "</td></tr>";
                });
                $("#workInfoTable").html(thead+tabHead+tabBody);
            })
            $('#workInfoDiv').dialog({
                title: "工作详情",
                width: 530,
                height: 400,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        $('#workInfoDiv').dialog("close");
                    }
                }]
            });
        }*/
        //数字验证
        function num(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个, 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3'); //只能输入两个小数
        }
        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hour = date.getHours()< 10 ? "0" +date.getHours():date.getHours();
            var minutes = date.getMinutes()<10?"0"+date.getMinutes():date.getMinutes();
            var seconds = date.getSeconds()<10?"0"+date.getSeconds():date.getSeconds();
            return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minutes + ":" + seconds;
        }
        function ChangeDateFormat2(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
        function ChangeDateFormat3(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            return hour + ":" + minutes;
        }
        function toSerch() {
            var pars = {};
            if (($("#startDate").datebox("getValue")).trim().length <= 0 && ($("#endDate").datebox("getValue")).trim().length > 0) {
                $.messager.alert("提示","请选择开始时间");
                return;
            }
            if(($("#startDate").datebox("getValue")).trim().length>0&&($("#endDate").datebox("getValue")).trim().length<=0){
                $.messager.alert("提示","请选择结束时间");
                return;
            }
            if ($("#serchBuMen").combobox("getValue") == undefined) {
                pars = {};
            }
            if ($("#serchBuMen").combobox("getValue")!=undefined&& $("#serchPerson").combobox("getValue")==undefined) {
                pars = { BMID: $("#serchBuMen").combobox("getValue") };
            }
            if ($("#serchBuMen").combobox("getValue")!=undefined && $("#serchPerson").combobox("getValue")!=undefined) {
                pars = { BMID: $("#serchBuMen").combobox("getValue"), uid: $("#serchPerson").combobox("getValue") };
            }
            if (($("#startDate").datebox("getValue")).trim().length > 0 && ($("#endDate").datebox("getValue")).trim().length > 0) {
                pars["startDate"] =  $("#startDate").datebox("getValue");
                pars["endDate"] =$("#endDate").datebox("getValue") ;
            }
            loadData(pars);
        }
    </script>
</head>
<body class="easyui-layout">
    <div data-options="region:'center',title:'报表'" id="dgdiv">
        <div id="TTdiv">
            <table id="tt" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit">
                <thead data-options="frozen:true ">
                    <tr>
                        <th data-options="field:'ck',checkbox: true, align: 'left', width: 30"></th>
                        <th data-options="field:'ID', width: 40,align: 'center'">编号</th>
                        <!--<th data-options="align: 'center',formatter:function(value,row,index){return '<a href=\'javascript:seeWorkInfo()\' class=\'l-btn\' style=\'margin:0px 5px;padding:2px 8px \'>查看</a>\'}'">编辑栏</th>-->
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="SerchTypeDIV" style="padding:5px;height:auto;width:auto;display:flex;flex-direction:row; flex-wrap:nowrap;align-items:center;">
        <div style="margin-bottom:5px;width:auto;height:auto">
            部门列表：<input class="easyui-combobox" id="serchBuMen"
                        url="/YSGP/GetBuMenList"
                        valueField="ID"
                        textField="Name"
                        panelHeight="200px"
                        style="width:100px" />
            人员列表：<input class="easyui-combobox" id="serchPerson"
                        valueField="ID"
                        textField="Name"
                        panelHeight="200px"
                        style="width:100px" />
            从：<input type="text" class="easyui-datebox" id="startDate"/>
            到：<input type="text" class="easyui-datebox" id="endDate" />
            <input type="button" value="查询" onclick="toSerch()" />
            <input type="button" value="导出汇总表" onclick="toExcel()" />
            <form id="ExcelForm" action="/YSGP/GetExcelTable" method="post">
                <input id="Action" name="Action" type="hidden" value="outexcel" />
                <input id="OFtable" name="OFtable" type="hidden" />
            </form>
        </div>
    </div>
    <div id="workInfoDiv">
         <table id="workInfoTable"></table>
    </div>
</body>
</html>


