@{
    Layout = null;
}
@using CZBK.ItcastOA.Model
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>水工公司生产车间产品日报表</title>
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script src="~/Scripts/MyNewJS.js"></script>
    <script src="~/Scripts/jquery.jqprint-0.3.js"></script>
    <script src="~/Scripts/DatePicker.js"></script>
    <script type="text/javascript">
        $.fn.extend({

            resizeDataGrid: function (heightMargin, widthMargin, minHeight, minWidth) {

                var height = $("#dgdiv").height() - heightMargin;
                var width = $("#dgdiv").width() - widthMargin;
                height = height < minHeight ? minHeight : height;
                width = width < minWidth ? minWidth : width;
                $(this).datagrid('resize', {
                    height: height,
                    width: width
                });
            }
        });
        //清空datagrid数据
        function cleanDatagrid() {
            var item = $('#tt').datagrid('getRows');
            if (item) {
                for (var i = item.length - 1; i >= 0; i--) {
                    var index = $('#tt').datagrid('getRowIndex', item[i]);
                    $('#tt').datagrid('deleteRow', index);
                }
            }
        }

        // 当窗口大小发生变化时，调整DataGrid的大小211434
        $(function () {
              loadData();

              $('#AddBbInfoDIV').css("display", "none"); 
              $("#TJTypeDIV").css("display", "none");
              $("#tjYear").hide();
              $("#tjMonth").hide();

              $("#divBtn a").click(function () {
                var ClickA = $(this).attr("id");
                if (ClickA == "DayExcelModel")
                {
                    $("#TJTypeDIV").css("display", "none");
                    $("#AddBtnDIV").css("display", "block");
                    loadData();
                }
                else if (ClickA == "TongJiModel")
                {
                    $("#AddBtnDIV").css("display", "none");
                    $("#TJTypeDIV").css("display", "block");
                    loadTongjiInfo();
                }
            })

            $('input[type=radio][name=TJtype]').change(function () {
                $("#excelYM").val("");
                $("#excelYear").val("");
                if (this.value == 'month') {
                    $("#tjYear").hide();
                    $("#tjMonth").show();
                }
                else if (this.value == 'year') {
                    $("#tjMonth").hide();
                    $("#tjYear").show();
                    var date = new Date;
                    $("#excelYear").val(date.getFullYear());
                }
            });

            $("#AddBtn").click(function () {
                $("#idval").val("");
                $('#AddBbInfoDIV').css("display","block");
                $('#AddBbInfoDIV').dialog({
                    title: "添加日报表",
                    width: 450,
                    height: 400,
                    collapsible: true,
                    resizable: true,
                    modal: true,
                    buttons: [{
                        text: '确定',
                        iconCls: 'icon-ok',
                        handler: function () {
                            if ($("#Wtime").datebox("getValue") == undefined || ($("#Wtime").datebox("getValue")).trim().length <= 0) {
                                $.messager.alert("提示","请选择日期时间");
                                return;
                            }
                            if ($("#BuMenid").combobox("getValue") == undefined || ($("#BuMenid").combobox("getValue")).trim().length <= 0) {
                                $.messager.alert("提示", "请选择部门");
                                return;
                            }
                            if ($("#ProductNameId").combobox("getValue") == undefined || ($("#ProductNameId").combobox("getValue")).trim().length <= 0) {
                                $.messager.alert("提示", "请选择产品名称");
                                return;
                            }
                            if ($("#ProductJB").combobox("getValue")==undefined||($("#ProductJB").combobox("getValue")).trim().length <= 0) {
                                $.messager.alert("提示", "请选择产品级别");
                                return;
                            }
                            if (($("#CiPinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写次品数量");
                                return;
                            }
                            if (($("#HeGePinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写合格品数量");
                                return;
                            }
                            if (($("#YiDengPinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写一等品数量");
                                return;
                            }
                            if (($("#YouDengPinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写优等品数量");
                                return;
                            }
                            $("#AddBbInfofrom").submit();//提交表单
                        }
                    },
                    {
                        text: '取消',
                        handler: function () {
                            $('#AddBbInfoDIV').dialog('close');
                            afterEsc();
                        }
                    }]
                });
            })

            $('#ProductNameId').combobox({
                onChange: function (newValue, oldValue) {
                    $('#ProductGGId').combobox('loadData', {});
                    $("#ProductGGId").combobox("clear");
                    $("#ProductGGId").combobox("reload", "/SCCJ/GetBCPXHList?id=" + newValue);
                }
            });
        });

        function afterEsc() {
            $('#AddBbInfoDIV').dialog('close');
            $("#Wtime").datebox("setValue", "");
            $("#BuMenid").combobox("setValue", "");
            $("#ProductNameId").combobox("setValue", "");
            $("#ProductGGId").combobox("setValue", "");
            $("#ProductJB").combobox("setValue", "");
            $("#CiPinNum").val("");
            $("#HeGePinNum").val("");
            $("#YiDengPinNum").val("");
            $("#YouDengPinNum").val("");
            $("#idval").val("");
        }
        function afterAddBbInfo() {
            $('#AddBbInfoDIV').dialog('close');
            $("#Wtime").datebox("setValue","");
            $("#BuMenid").combobox("setValue", "");
            $("#ProductNameId").combobox("setValue", "");
            $("#ProductGGId").combobox("setValue", "");
            $("#ProductJB").combobox("setValue", "");
            $("#CiPinNum").val("");
            $("#HeGePinNum").val("");
            $("#YiDengPinNum").val("");
            $("#YouDengPinNum").val("");
            $("#idval").val("");
            $("#tt").datagrid("reload");
        }
        function del() {
            var row = $('#tt').datagrid('getSelected');
            $.messager.confirm('提示', '确定要执行删除操作吗?', function (r) {
                if (r) {
                    $.post("/SCCJ/DelSccjInfo", { "id": row.ID }, function (rt) {
                        if (rt.ret == "ok") {
                            cleanDatagrid();
                            $('#tt').datagrid('reload');
                        } else {
                            $.messager.alert("操作失败！")
                        }  
                    })
                }else{
                    return;
                }
            })
        }
        function edit() {
            var row = $('#tt').datagrid('getSelected');
            $.post("/SCCJ/GetEditInfo", { "id": row.ID }, function (rt) {
                $("#Wtime").datebox("setValue", ChangeDateFormat2(rt.Wtime));
                $("#BuMenid").combobox("setValue", rt.BuMenid);
                $("#ProductNameId").combobox("setValue", rt.ProductNameId);
                $("#ProductGGId").combobox("setValue", rt.ProductGGId);
                if (rt.ProductGGId == 533) {
                    $("#ProductGGId").combobox("setText", "无型号");
                }
                $("#ProductJB").combobox("setValue", rt.ProductJB);
                $("#Class").combobox("setValue", rt.Class);
                $("#Groups").combobox("setValue", rt.Groups);
                $("#CiPinNum").val(rt.CiPinNum);
                $("#HeGePinNum").val(rt.HeGePinNum);
                $("#YiDengPinNum").val(rt.YiDengPinNum);
                $("#YouDengPinNum").val(rt.YouDengPinNum);
                $("#idval").val(rt.ID);
            })
            $("#AddBtn").click();
        }
        //清空datagrid数据
        function cleanDatagrid() {
            var item = $('#tt').datagrid('getRows');
            if (item) {
                for (var i = item.length - 1; i >= 0; i--) {
                    var index = $('#tt').datagrid('getRowIndex', item[i]);
                    $('#tt').datagrid('deleteRow', index);
                }
            }
        }
        //加载磅秤信息页面
        function loadData(pars) {
            $("#TTdiv").css("display", "block");
            $('#AddBtnDIV').css("display", "block");
            $('#tt').datagrid({
                url: '/SCCJ/GetSccjInfo',
                title: '水工公司生产车间产品日报表',
                height: $("#dgdiv").height() - 20,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                //onClickCell: onClickCell,
                //onAfterEdit: onAfterEdit,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[
                    { field: 'ck', checkbox: true, title: '', width: 30 },
                    { field: 'ID', title: '编号', align: 'center' },
                    {
                        field: 'Wtime', title: '时间', align: 'center',
                        formatter: function (value, row, index) {
                            return ChangeDateFormat2(value);
                        }
                    },
                    { field: 'BuMenid', title: '部门', align: 'center' },
                    { field: 'ProductNameId', title: '产品名称', align: 'center' },
                    {field: 'ProductGGId', title: '产品规格', align: 'center' },
                    { field: 'ProductJB', title: '产品级别', align: 'center' },
                    { field: 'Class', title: '班次', align: 'center' },
                    { field: 'Groups', title: '分组', align: 'center' },
                    { field: 'CiPinNum', title: '次品', align: 'center' },
                    { field: 'HeGePinNum', title: '合格品', align: 'center' },
                    { field: 'YiDengPinNum', title: '一等品', align: 'center' },
                    { field: 'YouDengPinNum', title: '优等品', align: 'center' },
                    {
                        field: 'Del', title: '编辑栏', align: 'center',
                        formatter: function (value, row, index) {
                            return "<a href='javascript:edit()' class='l-btn' style='margin:0px 5px;padding:2px 8px '>修改</a><a href='javascript:del()' class='l-btn' style='margin:0px 5px;padding:2px 8px '>删除</a>";
                        }
                    },
                ]],
                toolbar: "#AddBtnDIV",
                onLoadSuccess: function () {
                    var rows = $("#tt").datagrid("getRows");
                    for (var a = 0; a < rows.length - 1; a++) {
                        if (rows[a].ID == undefined) {
                            $("#tt").datagrid("deleteRow", a);
                        }
                    }
                }
            });
        }
        //加载磅秤信息页面
        function loadTongjiInfo(pars) {
            $("#TTdiv").css("display", "block");
            $('#tt').datagrid({
                url: '/SCCJ/GetSccjInfo',
                title: '水工公司生产车间产品日报表',
                height: $("#dgdiv").height() - 20,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                //onClickCell: onClickCell,
                //onAfterEdit: onAfterEdit,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[
                    { field: 'ck', checkbox: true, title: '', width: 30 },
                    { field: 'ID', title: '编号', align: 'center' },
                    {
                        field: 'Wtime', title: '时间', align: 'center',
                        formatter: function (value, row, index) {
                            if (value.indexOf('：') != -1) {
                                return value;
                            }
                            return ChangeDateFormat2(value);
                        }
                    },
                    { field: 'BuMenid', title: '部门', align: 'center' },
                    { field: 'ProductNameId', title: '产品名称', align: 'center' },
                    { field: 'ProductGGId', title: '产品规格', align: 'center' },
                    { field: 'ProductJB', title: '产品级别', align: 'center' },
                    { field: 'Class', title: '班次', align: 'center' },
                    { field: 'Groups', title: '分组', align: 'center' },
                    { field: 'CiPinNum', title: '次品', align: 'center' },
                    { field: 'HeGePinNum', title: '合格品', align: 'center' },
                    { field: 'YiDengPinNum', title: '一等品', align: 'center' },
                    { field: 'YouDengPinNum', title: '优等品', align: 'center' }
                ]],
                toolbar: "#TJTypeDIV",
                onLoadSuccess: function () {
                    var rows = $("#tt").datagrid("getRows");
                    for (var a = 0; a < rows.length - 1; a++) {
                        if (rows[a].ID == undefined) {
                            $("#tt").datagrid("deleteRow", a);
                        }
                    }
                }
            });
        }
        function toTj(value) {
            if (($("#InfoExcelMsg").combobox("getValue")).trim().length<=0) {
                $.messager.alert("提示", "请选择部门");
                return;
            }
            else if (value == "month") {
                if (($("#excelYM").val()).trim().length <= 0) {
                    $.messager.alert("提示", "请选择日期");
                    return;
                }
                var bmID = $("#InfoExcelMsg").combobox("getValue");
                var serchTime = $("#excelYM").val();
                $("#tt").datagrid("options").url = "/SCCJ/TongJiByMonth";
                $("#tt").datagrid("options").queryParams = { monthExcel: serchTime, bmID: bmID };
                $("#tt").datagrid("options").onLoadSuccess = compute;
                $("#tt").datagrid("options").showFooter = true;
                $("#tt").datagrid("options").title = "月统计表";
            } else if (value == "year") {
                if (($("#excelYear").val()).trim().length <= 0) {
                    $.messager.alert("提示", "请填写年份");
                    return;
                }
                var bmID = $("#InfoExcelMsg").combobox("getValue");
                var serchTime = $("#excelYear").val()+"-1-1";
                $("#tt").datagrid("options").url = "/SCCJ/TongJiByYear";
                $("#tt").datagrid("options").queryParams = { yearExcel: serchTime, bmID: bmID };
                $("#tt").datagrid("options").onLoadSuccess = compute; 
                $("#tt").datagrid("options").showFooter = true;
                $("#tt").datagrid("options").title = "年统计表";
            }
            cleanDatagrid();
            $('#tt').datagrid('reload');
        }
        function compute() {//计算函数
            var rows = $('#tt').datagrid('getRows')//获取当前的数据行
            var SumNum = 0//计算listprice的总和
            , cipinNum = 0//统计unitcost的总和
            ,HeGePinNum = 0
            ,YiDengPinNum=0
            ,YouDengPinNum=0;
            for (var i = 0; i < rows.length; i++) {
                SumNum += rows[i]['CiPinNum'];
                SumNum += rows[i]['HeGePinNum'];
                SumNum += rows[i]['YiDengPinNum'];
                SumNum += rows[i]['YouDengPinNum'];
                cipinNum += rows[i]['CiPinNum'];
                HeGePinNum += rows[i]['HeGePinNum'];
                YiDengPinNum += rows[i]['YiDengPinNum'];
                YouDengPinNum += rows[i]['YouDengPinNum'];
            }
            //新增一行显示统计信息
            var cipinLv = ((cipinNum / SumNum) * 100).toFixed(2).toString() + "%";
            $('#tt').datagrid('appendRow', { Wtime: '<b style="color:red;">次品总量：</b>', BuMenid: cipinNum });
            $('#tt').datagrid('appendRow', { Wtime: '<b style="color:red;">合格品总量：</b>', BuMenid: HeGePinNum });
            $('#tt').datagrid('appendRow', { Wtime: '<b style="color:red;">一等品总量：</b>', BuMenid: YiDengPinNum });
            $('#tt').datagrid('appendRow', { Wtime: '<b style="color:red;">优等品总量：</b>', BuMenid: YouDengPinNum });
            $('#tt').datagrid('appendRow', { Wtime: '<b style="color:red;">产品总量：</b>', BuMenid: SumNum });
            $('#tt').datagrid('appendRow', { Wtime: '<b style="color:red;">次品率：</b>', BuMenid: cipinLv });
        }
        //数字验证
        function num(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个, 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3'); //只能输入两个小数
        }
        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hour = date.getHours()< 10 ? "0" +date.getHours():date.getHours();
            var minutes = date.getMinutes()<10?"0"+date.getMinutes():date.getMinutes();
            var seconds = date.getSeconds()<10?"0"+date.getSeconds():date.getSeconds();
            return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minutes + ":" + seconds;
        }
        function ChangeDateFormat2(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    </script>
</head>
<body class="easyui-layout">
    <div id="divBtn" data-options="region:'west',split:true,title:'选项'" class="easyui-panel btnlink " style="width:150px; padding:8px;">
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="DayExcelModel" style="width:98%;margin:10px auto">日报记录</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="TongJiModel" style="width:98%;margin:10px auto">统计模块</a>
    </div>
    <div data-options="region:'center',title:'数据报表'" id="dgdiv">
        <div id="TTdiv">
            <table id="tt" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit">
                <!--插入表格数据-->
            </table>
        </div>
    </div>
    <div id="AddBtnDIV" style="padding:5px;height:auto">
        <div style="margin-bottom:5px">
            <a href="#" class="easyui-linkbutton" id="AddBtn" iconCls="icon-add" plain="true">添加日报</a>
        </div>
    </div>
    <div id="TJTypeDIV" style="padding:5px;height:auto;width:auto;display:flex;flex-direction:row; flex-wrap:nowrap;align-items:center;">
        <div style="margin-bottom:5px;width:auto;height:auto">
            <input type="radio" name="TJtype" id="TjByMonth" value="month"/>按月统计
            <input type="radio" name="TJtype" id="TjByYear" value="year"/>按年统计
        部门列表：<input class="easyui-combobox" id="InfoExcelMsg"
                    url="/SCCJ/GetBuMenList"
            valueField="ID"
            textField="Name"
            panelHeight="200px"
            style="width:100px" />
        <label id="tjMonth">统计月份：<input onclick="setmonth(this)" id="excelYM" /><input type="button" value="月统计" onclick="toTj('month')"/></label>
        <label id="tjYear">统计年份：<input type="text" id="excelYear" onkeyup="num(this)"/><input type="button" value="年统计" onclick="toTj('year')"/></label></div>
    </div>
    <!---------------添加日报表--------------------->
    <div id="AddBbInfoDIV" style="height:100%; width:100%;">
        @using (Ajax.BeginForm("AddorEditSccjInfo", "SCCJ", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAddBbInfo" }, new { id = "AddBbInfofrom" }))
        {<table id="Upfiletab">
            <tr>
                <td>时间</td>
                <td><input type="text" class="easyui-datebox" name="Wtime" id="Wtime"/><input type="text" id="idval" name="ID" hidden/></td>
            </tr>
             <tr>
                 <td>部门</td>
                 <td><input class="easyui-combobox" id="BuMenid"
                            name="BuMenid"
                            url="/SCCJ/GetBuMenList"
                            valueField="ID"
                            textField="Name"
                            panelHeight="200px"
                            style="width:100px" /></td>
             </tr>
             <tr>
                 <td>产品名称</td>
                 <td>
                     <input class="easyui-combobox" id="ProductNameId"
                            name="ProductNameId"
                            url="/SCCJ/GetCPNameList"
                            valueField="ID"
                            textField="MyTexts"
                            panelHeight="200px"
                            style="width:100px" />
                 </td>
             </tr>
             <tr>
                 <td>产品规格</td>
                 <td>
                     <input class="easyui-combobox" id="ProductGGId"
                            name="ProductGGId"
                            valueField="ID"
                            textField="MyTexts"
                            panelHeight="200px"
                            style="width:100px" />
                 </td>
             </tr>
             <tr>
                 <td>产品级别</td>
                 <td>
                     <input class="easyui-combobox" id="ProductJB"
                            name="ProductJB"
                            url="/SCCJ/GetCPJBList"
                            valueField="ID"
                            textField="MyTexts"
                            panelHeight="200px"
                            style="width:100px;height:50px" />
                 </td>
             </tr>
             <tr>
                 <td>班次</td>
                 <td>
                     <select class="easyui-combobox" name="Class" id="Class">
                         <option value="甲班">甲班</option>
                         <option value="乙班">乙班</option>
                     </select>
                 </td>
             </tr>
             <tr>
                 <td>分组</td>
                 <td>
                     <select class="easyui-combobox" name="Groups" id="Groups">
                         <option value="南跨">南跨</option>
                         <option value="北跨">北跨</option>
                     </select>
                 </td>
             </tr>
            <tr><td>次品</td><td><input  type="text" id="CiPinNum" name="CiPinNum" onkeyup="num(this)"/></td></tr>
             <tr><td>合格品</td><td><input type="text" id="HeGePinNum" name="HeGePinNum" onkeyup="num(this)" /></td></tr>
             <tr><td>一等品</td><td><input type="text" id="YiDengPinNum" name="YiDengPinNum" onkeyup="num(this)" /></td></tr>
             <tr><td>优等品</td><td><input type="text" id="YouDengPinNum" name="YouDengPinNum" onkeyup="num(this)" /></td></tr>
        </table>
            <table>
                <tbody id="Selebody"></tbody>
            </table>
        }
    </div>
</body>
</html>


