@{
    Layout = null;
}
@using CZBK.ItcastOA.Model
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>水工公司生产车间产品日报表</title>
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script src="~/Scripts/MyNewJS.js"></script>
    <script src="~/Scripts/jquery.jqprint-0.3.js"></script>
    <script src="~/Scripts/DatePicker.js"></script>
    <script type="text/javascript">
        $.fn.extend({

            resizeDataGrid: function (heightMargin, widthMargin, minHeight, minWidth) {

                var height = $("#dgdiv").height() - heightMargin;
                var width = $("#dgdiv").width() - widthMargin;
                height = height < minHeight ? minHeight : height;
                width = width < minWidth ? minWidth : width;
                $(this).datagrid('resize', {
                    height: height,
                    width: width
                });
            }
        });

        var txt = "";
        var ary = ['silver', 'white'];
        var color = "";

        //清空datagrid数据
        function cleanDatagrid() {
            var item = $('#tt').datagrid('getRows');
            if (item) {
                for (var i = item.length - 1; i >= 0; i--) {
                    var index = $('#tt').datagrid('getRowIndex', item[i]);
                    $('#tt').datagrid('deleteRow', index);
                }
            }
        }

        // 当窗口大小发生变化时，调整DataGrid的大小211434
        $(function () {
              loadData();

              $('#AddBbInfoDIV').css("display", "none"); 
              $("#TJTypeDIV").css("display", "none");
              $("#tjYear").hide();
              $("#tjMonth").hide();
              $("#tjDay").hide();

              $("#divBtn a").click(function () {
                var ClickA = $(this).attr("id");
                if (ClickA == "DayExcelModel")
                {
                    $("#TJTypeDIV").css("display", "none");
                    $("#AddBtnDIV").css("display", "block");
                    loadData();
                }
                else if (ClickA == "TongJiModel")
                {
                    $("#AddBtnDIV").css("display", "none");
                    $("#TJTypeDIV").css("display", "block");
                    loadTongjiInfo();
                }
            })

            $('input[type=radio][name=TJtype]').change(function () {
                $("#excelYear").val("");
                if (this.value == 'month') {
                    $("#tjYear").hide();
                    $("#tjDay").hide();
                    $("#tjDayWin").hide();
                    $("#tjMonth").show();
                }
                else if (this.value == 'year') {
                    $("#tjMonth").hide();
                    $("#tjYear").show();
                    $("#tjDay").hide();
                    $("#tjDayWin").hide();
                    var date = new Date;
                    $("#excelYear").val(date.getFullYear());
                } else if (this.value == 'day') {
                    $("#tjMonth").hide();
                    $("#tjYear").hide();
                    $("#tjDay").show();
                    $("#tjDayWin").hide();
                } /*else if (this.value == 'dayWin') {
                    $("#tjMonth").hide();
                    $("#tjYear").hide();
                    $("#tjDay").hide();
                    $("#tjDayWin").show();
                }*/
            });

            $("#AddBtn").click(function () {
                $("#idval").val("");
                $('#AddBbInfoDIV').css("display","block");
                $('#AddBbInfoDIV').dialog({
                    title: "添加日报表",
                    width: 530,
                    height: 400,
                    collapsible: true,
                    resizable: true,
                    modal: true,
                    buttons: [{
                        text: '确定',
                        iconCls: 'icon-ok',
                        handler: function () {
                            if ($("#Wtime").datebox("getValue") == undefined || ($("#Wtime").datebox("getValue")).trim().length <= 0) {
                                $.messager.alert("提示","请选择日期时间");
                                return;
                            }
                            if ($("#BuMenid").combobox("getValue") == undefined || ($("#BuMenid").combobox("getValue")).trim().length <= 0) {
                                $.messager.alert("提示", "请选择部门");
                                return;
                            }
                            if ($("#ProductNameId").combobox("getValue") == undefined || ($("#ProductNameId").combobox("getValue")).trim().length <= 0) {
                                $.messager.alert("提示", "请选择产品名称");
                                return;
                            }
                            if ($("#ProductJB").combobox("getValue")==undefined||($("#ProductJB").combobox("getValue")).trim().length <= 0) {
                                $.messager.alert("提示", "请选择产品级别");
                                return;
                            }
                            if (($("#JiaCiPinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写甲班次品数量");
                                return;
                            }
                            if (($("#JiaHeGePinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写甲班合格品数量");
                                return;
                            }
                            if (($("#JiaYiDengPinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写甲班一等品数量");
                                return;
                            }
                            if (($("#JiaYouDengPinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写甲班优等品数量");
                                return;
                            }
                            if (($("#JiaFeiPinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写甲班废品品数量");
                                return;
                            }
                            if (($("#YiCiPinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写乙班次品数量");
                                return;
                            }
                            if (($("#YiHeGePinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写乙班合格品数量");
                                return;
                            }
                            if (($("#YiYiDengPinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写乙班一等品数量");
                                return;
                            }
                            if (($("#YiYouDengPinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写乙班优等品数量");
                                return;
                            }
                            if (($("#YiFeiPinNum").val()).trim().length <= 0) {
                                $.messager.alert("提示", "请填写乙班废品品数量");
                                return;
                            }
                            $("#AddBbInfofrom").submit();//提交表单
                        }
                    },
                    {
                        text: '取消',
                        handler: function () {
                            $('#AddBbInfoDIV').dialog('close');
                            afterEsc();
                        }
                    }]
                });
            })

            $('#ProductNameId').combobox({
                onChange: function (newValue, oldValue) {
                    $('#ProductGGId').combobox('loadData', {});
                    $("#ProductGGId").combobox("clear");
                    $("#ProductGGId").combobox("reload", "/SCCJ/GetBCPXHList?id=" + newValue);
                }
            });
        });
        function compute() {//计算函数
            var rows = $('#tt').datagrid('getRows')//获取当前的数据行
            var SumNum = 0//计算listprice的总和
            , cipinNum = 0//统计unitcost的总和
            , HeGePinNum = 0
            , YiDengPinNum = 0
            , YouDengPinNum = 0;
            for (var i = 0; i < rows.length; i++) {
                SumNum += rows[i]['CiPinNum'];
                SumNum += rows[i]['HeGePinNum'];
                SumNum += rows[i]['YiDengPinNum'];
                SumNum += rows[i]['YouDengPinNum'];
                cipinNum += rows[i]['CiPinNum'];
                HeGePinNum += rows[i]['HeGePinNum'];
                YiDengPinNum += rows[i]['YiDengPinNum'];
                YouDengPinNum += rows[i]['YouDengPinNum'];
            }
            //新增一行显示统计信息
            var cipinLv = ((cipinNum / SumNum) * 100).toFixed(2).toString() + "%";
            $('#tt').datagrid('appendRow', { Wtime: '<b style="color:red;">次品总量：</b>', BuMenid: cipinNum });
            $('#tt').datagrid('appendRow', { Wtime: '<b style="color:red;">合格品总量：</b>', BuMenid: HeGePinNum });
            $('#tt').datagrid('appendRow', { Wtime: '<b style="color:red;">一等品总量：</b>', BuMenid: YiDengPinNum });
            $('#tt').datagrid('appendRow', { Wtime: '<b style="color:red;">优等品总量：</b>', BuMenid: YouDengPinNum });
            $('#tt').datagrid('appendRow', { Wtime: '<b style="color:red;">产品总量：</b>', BuMenid: SumNum });
            $('#tt').datagrid('appendRow', { Wtime: '<b style="color:red;">次品率：</b>', BuMenid: cipinLv });
        }
        //导出表
        function toExcel(type) {
            var colCount = 0;//($("#tt").datagrid("options").columns)[0].length;
            var addTotal = "</table></div></div>";
            var htmlData = $(".datagrid-view2").html();
            htmlData = htmlData.substring(0, htmlData.length - 20);
            var title = '';
            var rows = $('#tt').datagrid('getRows')//获取当前的数据行
            var thead = "";
            if (type == 'day') {
                var YSDayNum = 0,
                YSMonthNum = 0,
                JiaBanDayNum = 0,
                JiaBanMonthNum = 0,
                YiBanDayNum = 0,
                YiBanMonthNum = 0,
                JiaYouDayNum = 0,
                JiaYouMonthNum = 0,
                JiaYiDayNum = 0,
                JiaYiMonthNum = 0,
                JiaHeDayNum = 0,
                JiaHeMonthNum = 0,
                JiaCiDayNum = 0,
                JiaCiMonthNum = 0,
                JiaFeiDayNum = 0,
                JiaFeiMonthNum = 0,
                YiYouDayNum = 0,
                YiYouMonthNum = 0,
                YiYiDayNum = 0,
                YiYiMonthNum = 0,
                YiHeDayNum = 0,
                YiHeMonthNum = 0,
                YiCiDayNum = 0,
                YiCiMonthNum = 0,
                YiFeiDayNum = 0,
                YiFeiMonthNum = 0;
                for (var i = 0; i < rows.length; i++) {
                    YSDayNum += rows[i]['YSDayNum'];
                    YSMonthNum += rows[i]['YSMonthNum'];
                    JiaBanDayNum += rows[i]['JiaBanDayNum'];
                    JiaBanMonthNum += rows[i]['JiaBanMonthNum'];
                    YiBanDayNum += rows[i]['YiBanDayNum'];
                    YiBanMonthNum += rows[i]['YiBanMonthNum'];
                    JiaYouDayNum += rows[i]['JiaYouDayNum'];
                    JiaYouMonthNum += rows[i]['JiaYouMonthNum'];
                    JiaYiDayNum += rows[i]['JiaYiDayNum'];
                    JiaYiMonthNum += rows[i]['JiaYiMonthNum'];
                    JiaHeDayNum += rows[i]['JiaHeDayNum'];
                    JiaHeMonthNum += rows[i]['JiaHeMonthNum'];
                    JiaCiDayNum += rows[i]['JiaCiDayNum'];
                    JiaCiMonthNum += rows[i]['JiaCiMonthNum'];
                    JiaFeiDayNum += rows[i]['JiaFeiDayNum'];
                    JiaFeiMonthNum += rows[i]['JiaFeiMonthNum'];
                    YiYouDayNum += rows[i]['YiYouDayNum'];
                    YiYouMonthNum += rows[i]['YiYouMonthNum'];
                    YiYiDayNum += rows[i]['YiYiDayNum'];
                    YiYiMonthNum += rows[i]['YiYiMonthNum'];
                    YiHeDayNum += rows[i]['YiHeDayNum'];
                    YiHeMonthNum += rows[i]['YiHeMonthNum'];
                    YiCiDayNum += rows[i]['YiCiDayNum'];
                    YiCiMonthNum += rows[i]['YiCiMonthNum'];
                    YiFeiDayNum += rows[i]['YiFeiDayNum'];
                    YiFeiMonthNum += rows[i]['YiFeiMonthNum'];
                }
                title = $("#InfoExcelMsg").combobox("getText") + '生产日报表';
                colCount = 28;
                var time = $("#excelYMD").datebox("getValue");
                time = time.replace(/-/g, '.');
                Theard = "<thead><tr><td colspan='" + colCount + "' style=' font-family:黑体; font-size:25px;text-align:center '>" + title + "</td></tr>"
               + "<tr><td colspan='24' style='text-align:center'></td><td colspan='4'>" + time + "</td></tr></thead>";
                addTotal = "<tfoot><tr style='border:0.5pt solid black;'><td style='text-align:center'>合计</td><td></td>"
                                    + "<td style='text-align:center'>" + checkNum(YSDayNum) + "</td><td style='text-align:center'>" + checkNum(YSMonthNum) + "</td>"
                                    + "<td style='text-align:center'>" + checkNum(JiaBanDayNum) + "</td><td style='text-align:center'>" + checkNum(JiaBanMonthNum) + "</td>"
                                    + "<td style='text-align:center'>" + checkNum(YiBanDayNum) + "</td><td style='text-align:center'>" + checkNum(YiBanMonthNum) + "</td>"
                                    + "<td style='text-align:center'>" + checkNum(JiaYouDayNum) + "</td><td style='text-align:center'>" + checkNum(JiaYouMonthNum) + "</td>"
                                    + "<td style='text-align:center;background:silver'>" + checkNum(JiaYiDayNum) + "</td><td style='text-align:center'>" + checkNum(JiaYiMonthNum) + "</td>"
                                    + "<td style='text-align:center;background:silver'>" + checkNum(JiaHeDayNum) + "</td><td style='text-align:center'>" + checkNum(JiaHeMonthNum) + "</td>"
                                    + "<td style='text-align:center;background:silver'>" + checkNum(JiaCiDayNum) + "</td><td style='text-align:center'>" + checkNum(JiaCiMonthNum) + "</td>"
                                    + "<td style='text-align:center'>" + checkNum(JiaFeiDayNum) + "</td><td style='text-align:center'>" + checkNum(JiaFeiMonthNum) + "</td>"
                                    + "<td style='text-align:center'>" + checkNum(YiYouDayNum) + "</td><td style='text-align:center'>" + checkNum(YiYouMonthNum) + "</td>"
                                    + "<td style='text-align:center;background:silver'>" + checkNum(YiYiDayNum) + "</td><td style='text-align:center'>" + checkNum(YiYiMonthNum) + "</td>"
                                    + "<td style='text-align:center;background:silver'>" + checkNum(YiHeDayNum) + "</td><td style='text-align:center'>" + checkNum(YiHeMonthNum) + "</td>"
                                    + "<td style='text-align:center;background:silver'>" + checkNum(YiCiDayNum) + "</td><td style='text-align:center'>" + checkNum(YiCiMonthNum) + "</td>"
                                    + "<td style='text-align:center'>" + checkNum(YiFeiDayNum) + "</td><td style='text-align:center'>" + checkNum(YiFeiMonthNum) + "</tr>"
                                    + "</tfoot></table></div></div>";
            }/* else if (type == 'dayWin') {
                title =  '水工公司生产车间产品完成日报表';
                colCount = 9;
                var time = $("#excelYMD").datebox("getValue");
                var ary = time.split('/');
                Theard = "<thead><tr><td colspan='" + colCount + "' style=' font-family:黑体; font-size:25px;text-align:center '>" + title + "</td></tr>"
               + "<tr><td colspan='24' style='text-align:center'></td><td>" + ary[0] + "年" + ary[1] + "月" + ary[2] + "日" + "</td></tr></thead>";
                addTotal = "<tfoot><tr><td style=' font-family:黑体; font-size:35px;text-align:center ' rowspan='2'>备注; </td><td>1、甲班;</td></tr>"
                                   + "<tr><td>1、乙班;</td></tr></table></div></div>";
            } */else {
                var SumNum = 0//计算listprice的总和
                , cipinNum = 0//统计unitcost的总和
                , maxChanLiangNum = 0;
                for (var i = 0; i < rows.length; i++) {
                    SumNum += rows[i]['SumTrueCL'];
                    cipinNum += rows[i]['CiPinMonthNum'];
                    maxChanLiangNum += rows[i]['MaxCLNum'];
                }
                //新增一行显示统计信息
                var cipinLv = ((cipinNum / SumNum) * 100).toFixed(2).toString() + "%";
                var timeStr = "";
                if (type == 'month') {
                    var time = $("#excelYM").datebox("getValue");
                    var ary = time.split('-');
                    timeStr = ary[0] + "年" + ary[1] + "月" + ary[2] + "日";
                    title = '水工公司生产车间产品日报表';
                    addTotal = "<tfoot><tr style='border:0.5pt solid black'><td colspan='7'>总累计次品率:" + cipinLv + "</td><td colspan='7'>累计产品完成率:</td></tr>"
                                    + "<tr  style='border-top:0.5pt solid black;border-left:0.5pt solid black;border-right:0.5pt solid black;'><td colspan='14'>产生原因:</td></tr>"
                                    + "<tr  style='border-left:0.5pt solid black;border-right:0.5pt solid black;'><td colspan='14'></td></tr>"
                                    + "<tr  style='border-bottom:0.5pt solid black;border-left:0.5pt solid black;border-right:0.5pt solid black;'><td colspan='14'></td></tr>"
                                    + "<tr><td colspan='10'>部门负责人:</td><td colspan='4'>制表人:</td></tr></tfoot></table></div></div>";
                    colCount = 14;
                    Theard = "<thead><tr><td colspan='" + colCount + "' style=' font-family:黑体; font-size:25px;text-align:center '>" + title + "</td></tr>"
               + "<tr><td colspan='12' style='text-align:center'>" + timeStr + "</td><td colspan='2' style='text-align:right'>单位:根</td></tr></thead>";
                } else {
                    timeStr = $("#excelYear").val() + "年";
                    title = '水工公司生产车间产品年报表';
                    addTotal = "<tfoot><tr style='border:0.5pt solid black'><td colspan='6'>总累计次品率:" + cipinLv + "</td><td colspan='6'>累计产品完成率:</td></tr>"
                                    + "<tr  style='border-top:0.5pt solid black;border-left:0.5pt solid black;border-right:0.5pt solid black;'><td colspan='12'>产生原因:</td></tr>"
                                    + "<tr  style='border-left:0.5pt solid black;border-right:0.5pt solid black;'><td colspan='12'></td></tr>"
                                    + "<tr  style='border-bottom:0.5pt solid black;border-left:0.5pt solid black;border-right:0.5pt solid black;'><td colspan='12'></td></tr>"
                                    + "<tr><td colspan='8'>部门负责人:</td><td colspan='4'>制表人:</td></tr></tfoot></table></div></div>";
                    colCount = 13;
                    Theard = "<thead><tr><td colspan='12' style=' font-family:黑体; font-size:25px;text-align:center '>" + title + "</td></tr>"
               + "<tr><td colspan='11' style='text-align:center'>" + timeStr + "</td><td>单位:根</td></tr></thead>";
                }
                
            }
            var tableHead = "<html><meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\" />" +
        "<style type='text/css'>tbody tr td{text-align:center;border:solid .5pt Black;} </style>" +
        "<body><table >";
            $("#OFtable").val(tableHead + Theard + htmlData + addTotal + "</table></body></html>"); //获取并拼接代码
            $("#ExcelForm").submit();
        }
        function checkNum(value){
            return value == 0 ? '' : value;
        }

        function afterEsc() {
            $('#AddBbInfoDIV').dialog('close');
            $("#Wtime").datebox("setValue", "");
            $("#BuMenid").combobox("setValue", "");
            $("#ProductNameId").combobox("setValue", "");
            $("#ProductGGId").combobox("setValue", "");
            $("#ProductJB").combobox("setValue", "");
            $("#JiaCiPinNum").val("0");
            $("#JiaHeGePinNum").val("0");
            $("#JiaYiDengPinNum").val("0");
            $("#JiaYouDengPinNum").val("0");
            $("#JiaFeiPinNum").val("0");
            $("#YiCiPinNum").val("0");
            $("#YiHeGePinNum").val("0");
            $("#YiYiDengPinNum").val("0");
            $("#YiYouDengPinNum").val("0");
            $("#YiFeiPinNum").val("0");
            $("#idval").val("");
        }
        function afterAddBbInfo() {
            $("#JiaCiPinNum").val("0");
            $("#JiaHeGePinNum").val("0");
            $("#JiaYiDengPinNum").val("0");
            $("#JiaYouDengPinNum").val("0");
            $("#JiaFeiPinNum").val("0");
            $("#YiCiPinNum").val("0");
            $("#YiHeGePinNum").val("0");
            $("#YiYiDengPinNum").val("0");
            $("#YiYouDengPinNum").val("0");
            $("#YiFeiPinNum").val("0");
            $("#idval").val("");
            $("#tt").datagrid("reload");
        }
        function del() {
            var row = $('#tt').datagrid('getSelected');
            $.messager.confirm('提示', '确定要执行删除操作吗?', function (r) {
                if (r) {
                    $.post("/SCCJ/DelSccjInfo", { "id": row.ID }, function (rt) {
                        if (rt.ret == "ok") {
                            cleanDatagrid();
                            $('#tt').datagrid('reload');
                        } else {
                            $.messager.alert("操作失败！")
                        }  
                    })
                }else{
                    return;
                }
            })
        }
        function edit() {
            var row = $('#tt').datagrid('getSelected');
            $.post("/SCCJ/GetEditInfo", { "id": row.ID }, function (rt) {
                $("#Wtime").datebox("setValue", ChangeDateFormat2(rt.Wtime));
                $("#BuMenid").combobox("setValue", rt.BuMenid);
                $("#ProductNameId").combobox("setValue", rt.ProductNameId);
                $("#ProductGGId").combobox("setValue", rt.ProductGGId);
                if (rt.ProductGGId == 533) {
                    $("#ProductGGId").combobox("setText", "无型号");
                }
                $("#ProductJB").combobox("setValue", rt.ProductJB);
                $("#JiaCiPinNum").val(rt.JiaCiPinNum);
                $("#JiaHeGePinNum").val(rt.JiaHeGePinNum);
                $("#JiaYiDengPinNum").val(rt.JiaYiDengPinNum);
                $("#JiaYouDengPinNum").val(rt.JiaYouDengPinNum);
                $("#JiaFeiPinNum").val(rt.JiaFeiPinNum);
                $("#YiCiPinNum").val(rt.YiCiPinNum);
                $("#YiHeGePinNum").val(rt.YiHeGePinNum);
                $("#YiYiDengPinNum").val(rt.YiYiDengPinNum);
                $("#YiYouDengPinNum").val(rt.YiYouDengPinNum);
                $("#YiFeiPinNum").val(rt.YiFeiPinNum);
                $("#idval").val(rt.ID);
            })
            $("#AddBtn").click();
        }
        //清空datagrid数据
        function cleanDatagrid() {
            var item = $('#tt').datagrid('getRows');
            if (item) {
                for (var i = item.length - 1; i >= 0; i--) {
                    var index = $('#tt').datagrid('getRowIndex', item[i]);
                    $('#tt').datagrid('deleteRow', index);
                }
            }
        }
        //加载磅秤信息页面
        function loadData(pars) {
            $("#TTdiv").css("display", "block");
            $('#AddBtnDIV').css("display", "block");
            $('#tt').datagrid({
                url: '/SCCJ/GetSccjInfo',
                title: '水工公司生产车间产品日报表',
                height: $("#dgdiv").height() - 20,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: true,
                //onClickCell: onClickCell,
                //onAfterEdit: onAfterEdit,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: true,//是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 25,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [15, 25, 35],
                queryParams: pars,//往后台传递参数
                columns: [[{ field: 'ck', checkbox: true, align: 'left', width: 30, rowspan: 2 },
                    { field: 'ID', title: '编号', rowspan: 2 },
                    {
                        field: 'Wtime', title: '时间', align: 'center',
                        formatter: function (value, row, index) {
                            return ChangeDateFormat2(value);
                        },rowspan:2
                    },
                    { field: 'BuMenid', title: '部门', align: 'center', rowspan: 2 },
                    { field: 'ProductNameId', title: '产品名称', align: 'center', rowspan: 2 },
                    { field: 'ProductGGId', title: '产品规格', align: 'center', rowspan: 2 },
                    { field: 'ProductJB', title: '产品级别', align: 'center', rowspan: 2 },
                    { title: '甲班产品质量', align: 'center',colspan:5 },
                    { title: '乙班产品质量', align: 'center', colspan: 5 },
                    {
                         field: 'Del', title: '编辑栏', align: 'center', rowspan: 2,
                         formatter: function (value, row, index) {
                             return "<a href='javascript:edit()' class='l-btn' style='margin:0px 5px;padding:2px 8px '>修改</a><a href='javascript:del()' class='l-btn' style='margin:0px 5px;padding:2px 8px '>删除</a>";
                         }
                    }], [
                    { field: 'JiaYouDengPinNum', title: '优等品', align: 'center' },
                    { field: 'JiaYiDengPinNum', title: '一等品', align: 'center' },
                    { field: 'JiaHeGePinNum', title: '合格品', align: 'center' },
                    { field: 'JiaCiPinNum', title: '次品', align: 'center' },
                    { field: 'JiaFeiPinNum', title: '废品', align: 'center' },
                    { field: 'YiYouDengPinNum', title: '优等品', align: 'center' },
                    { field: 'YiYiDengPinNum', title: '一等品', align: 'center' },
                    { field: 'YiHeGePinNum', title: '合格品', align: 'center' },
                    { field: 'YiCiPinNum', title: '次品', align: 'center' },
                    { field: 'YiFeiPinNum', title: '废品', align: 'center' }
                ]],
                toolbar: "#AddBtnDIV",
                /*onLoadSuccess: function () {
                    var rows = $("#tt").datagrid("getRows");
                    for (var a = 0; a < rows.length - 1; a++) {
                        if (rows[a].ID == undefined) {
                            $("#tt").datagrid("deleteRow", a);
                        }
                    }
                }*/
            });
        }
        //加载磅秤信息页面
        function loadTongjiInfo(pars) {
            $("#TTdiv").css("display", "block");
            $('#tt').datagrid({
                title: '水工公司生产车间产品日报表',
                height: $("#dgdiv").height() - 20,
                fitColumns: true, //列自适应
                nowrap: true,
                rownumbers: false,
                //onClickCell: onClickCell,
                //onAfterEdit: onAfterEdit,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限的信息...',
                pagination: false,//是否有分页
                singleSelect: true,//是否单行选择
                queryParams: pars,//往后台传递参数
                columns: [[]],
                toolbar: "#TJTypeDIV"
            });
        }
        function toTj(value) {
            if (($("#InfoExcelMsg").combobox("getValue")).trim().length<=0) {
                $.messager.alert("提示", "请选择部门");
                return;
            }else if (value == 'day') {
                if (($("#excelYMD").datebox("getValue")).trim().length <= 0) {
                    $.messager.alert("提示", "请选择日期");
                    return;
                }
                var bmID = $("#InfoExcelMsg").combobox("getValue");
                var serchTime = $("#excelYMD").datebox("getValue");
                $("#tt").datagrid("options").url = "/SCCJ/TongJiByDay";
                $("#tt").datagrid("options").queryParams = { dayExcel: serchTime, bmID: bmID };
                $("#tt").datagrid("options").showFooter = true;
                $("#tt").datagrid("options").title = "年统计表";
                $("#tt").datagrid({
                    columns: [[{ field: 'ProductGGId', title: '规格', align: 'center', rowspan: 3, formatter: function (value, row, index) { return SplitProductGG(value) }, styler: function (value, row, index) { return 'background-color:' + CheckPductName(value) } },
                    { field: 'ProductJB', title: '级别', align: 'center', rowspan: 3, formatter: function (value, row, index) { return value == "无级别" ? '' : value } },
                    { title: '', align: 'center', colspan: 2 },
                    { title: '各班完成情况', align: 'center', colspan: 4 },
                    { title: '甲班产品质量', align: 'center', colspan: 10 },
                    { title: '乙班产品质量', align: 'center', colspan: 10 }], [
                    { title: '验收', align: 'center', colspan: 2 },
                    { title: '甲班', align: 'center', colspan: 2 },
                    { title: '乙班', align: 'center', colspan: 2 },
                    { title: '优等品', align: 'center', colspan: 2 },
                    { title: '一等品', align: 'center', colspan: 2 },
                    { title: '合格品', align: 'center', colspan: 2 },
                    { title: '次品', align: 'center', colspan: 2 },
                    { title: '废品', align: 'center', colspan: 2 },
                    { title: '优等品', align: 'center', colspan: 2 },
                    { title: '一等品', align: 'center', colspan: 2 },
                    { title: '合格品', align: 'center', colspan: 2 },
                    { title: '次品', align: 'center', colspan: 2 },
                    { title: '废品', align: 'center', colspan: 2 }], [
                    { field: 'YSDayNum', title: '日记', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'YSMonthNum', title: '累计', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'JiaBanDayNum', title: '日记', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'JiaBanMonthNum', title: '累计', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'YiBanDayNum', title: '日记', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'YiBanMonthNum', title: '累计', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'JiaYouDayNum', title: '日', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'JiaYouMonthNum', title: '累', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'JiaYiDayNum', title: '日', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value }, styler: function (value, row, index) { return 'background-color:silver' } },
                    { field: 'JiaYiMonthNum', title: '累', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'JiaHeDayNum', title: '日', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value }, styler: function (value, row, index) { return 'background-color:silver' } },
                    { field: 'JiaHeMonthNum', title: '累', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'JiaCiDayNum', title: '日', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value }, styler: function (value, row, index) { return 'background-color:silver' } },
                    { field: 'JiaCiMonthNum', title: '累', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'JiaFeiDayNum', title: '日', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'JiaFeiMonthNum', title: '累', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'YiYouDayNum', title: '日', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'YiYouMonthNum', title: '累', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'YiYiDayNum', title: '日', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value }, styler: function (value, row, index) { return 'background-color:silver' } },
                    { field: 'YiYiMonthNum', title: '累', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'YiHeDayNum', title: '日', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value }, styler: function (value, row, index) { return 'background-color:silver' } },
                    { field: 'YiHeMonthNum', title: '累', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'YiCiDayNum', title: '日', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value }, styler: function (value, row, index) { return 'background-color:silver' } },
                    { field: 'YiCiMonthNum', title: '累', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'YiFeiDayNum', title: '日', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'YiFeiMonthNum', title: '累', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } }]]
                });
            } /*else if (value == 'dayWin') {
                if (($("#excelYMDWin").datebox("getValue")).trim().length <= 0) {
                    $.messager.alert("提示", "请选择日期");
                    return;
                }
                var bmID = $("#InfoExcelMsg").combobox("getValue");
                var serchTime = $("#excelYMD").datebox("getValue");
                $("#tt").datagrid("options").url = "/SCCJ/TongJiByDayWin";
                $("#tt").datagrid("options").queryParams = { dayExcel: serchTime, bmID: bmID };
                $("#tt").datagrid("options").showFooter = true;
                $("#tt").datagrid("options").title = "年统计表";
                $("#tt").datagrid({
                    columns: [[{ field: 'BuMenid', title: '部门', align: 'center', rowspan: 3 },
                        { field: 'ProductGGId', title: '规格', align: 'center', rowspan: 3 },
                        { field: 'ProductJB', title: '级别', align: 'center', rowspan: 3, formatter: function (value, row, index) { return value == "无级别" ? '' : value } },
                        { title: '最大产量', align: 'center' },
                        { title: '当日产量', align: 'center'},
                        { title: '各班完成情况', align: 'center', colspan: 2 },
                        { title: '甲班长、边庆善', align: 'center' },
                        { title: '乙班长、黄正江', align: 'center' }], [
                        { title: '计划', align: 'center' },
                        { title: '正常', align: 'center' },
                        { title: '甲班质量', align: 'center' },
                        { title: '乙班质量', align: 'center' },
                        { title: '当日完成量', align: 'center' },
                        { title: '当日完成量', align: 'center' }], [
                        { field: 'MaxCLNum', title: '日记', align: 'center' },
                        { field: 'NormalCLNum', title: '日记', align: 'center' },
                        { field: 'JiaZhiLiang', title: '次品/根', align: 'center' },
                        { field: 'YiZhiLiang', title: '次品/根', align: 'center' },
                        { field: 'JiaDayFinishNum', title: '日记', align: 'center' },
                        { field: 'YiDayFinishNum', title: '日记', align: 'center' }]]
                });
            } */else if (value == "month") {
                if (($("#excelYM").datebox("getValue")).trim().length <= 0) {
                    $.messager.alert("提示", "请选择日期");
                    return;
                }
                var bmID = $("#InfoExcelMsg").combobox("getValue");
                var serchTime = $("#excelYM").datebox("getValue");
                $("#tt").datagrid("options").url = "/SCCJ/TongJiByMonth";
                $("#tt").datagrid("options").queryParams = { monthExcel: serchTime, bmID: bmID };
                $("#tt").datagrid("options").showFooter = true;
                $("#tt").datagrid("options").title = "水工公司生产车间产品日报表";
                $("#tt").datagrid({columns : [[{ field: 'BuMenid', title: '部门', align: 'center', rowspan: 3 },
                    { field: 'ProductGGId', title: '规格', align: 'center', rowspan: 3, formatter: function (value, row, index) { return SplitProductGG(value) }, styler: function (value, row, index) { return 'background-color:' + CheckPductName(value) } },
                    { field: 'ProductJB', title: '级别', align: 'center', rowspan: 3, formatter: function (value, row, index) { return value == "无级别" ? '' : value } },
                    { title: '当日', align: 'center', colspan: 2 },
                    { field: 'SumTrueCL', title: '累计实际产量', align: 'center', rowspan: 3, formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { title: '正品', align: 'center', colspan: 2 },
                    { title: '次品', align: 'center', colspan: 2 },
                    { title: '质量完成情况', align: 'center', colspan: 4 }], [
                    { field: 'MaxCLNum', title: '最大产量', align: 'center', rowspan: 2, formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'TrueCLNum', title: '实际产量', align: 'center', rowspan: 2, formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'ZhengPinDayNum', title: '产量', align: 'center', rowspan: 2, formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'ZhengPinMonthNum', title: '累计', align: 'center', rowspan: 2, formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'CiPinDayNum', title: '产量', align: 'center', rowspan: 2, formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'CiPinMonthNum', title: '累计', align: 'center', rowspan: 2, formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { title: '甲班', align: 'center', colspan: 2 },
                    { title: '乙班', align: 'center', colspan: 2 }], [
                    { field: 'JiaZhengPinNum', title: '正品', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'JiaCiPinNum', title: '次品', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'YiZhengPinNum', title: '正品', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    { field: 'YiCiPinNum', title: '次品', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                    ]]});
            } else if (value == "year") {
                if (($("#excelYear").val()).trim().length <= 0) {
                    $.messager.alert("提示", "请填写年份");
                    return;
                }
                var bmID = $("#InfoExcelMsg").combobox("getValue");
                var serchTime = $("#excelYear").val()+"-1-1";
                $("#tt").datagrid("options").url = "/SCCJ/TongJiByYear";
                $("#tt").datagrid("options").queryParams = { yearExcel: serchTime, bmID: bmID };
                $("#tt").datagrid("options").showFooter = true;
                $("#tt").datagrid("options").title = "水工公司生产车间产品年报表";
                $("#tt").datagrid({
                    columns: [[{ field: 'BuMenid', title: '部门', align: 'center', rowspan: 3 },
                        { field: 'ProductGGId', title: '规格', align: 'center', rowspan: 3, formatter: function (value, row, index) { return SplitProductGG(value)}, styler: function (value, row, index) { return 'background-color:' + CheckPductName(value) } },
                        { field: 'ProductJB', title: '级别', align: 'center', rowspan: 3, formatter: function (value, row, index) { return value == "无级别" ? '' : value } },
                        { title: '当年', align: 'center', colspan: 2 },
                        { field: 'SumTrueCL', title: '累计实际产量', align: 'center', rowspan: 3, formatter: function (value, row, index) { return value == 0 ? '' : value } },
                        { title: '正品', align: 'center' },
                        { title: '次品', align: 'center' },
                        { title: '质量完成情况', align: 'center', colspan: 4 }], [
                        { field: 'MaxCLNum', title: '最大产量', align: 'center', rowspan: 2, formatter: function (value, row, index) { return value == 0 ? '' : value } },
                        { field: 'TrueCLNum', title: '实际产量', align: 'center', rowspan: 2, formatter: function (value, row, index) { return value == 0 ? '' : value } },
                        { field: 'ZhengPinMonthNum', title: '累计', align: 'center', rowspan: 2, formatter: function (value, row, index) { return value == 0 ? '' : value } },
                        { field: 'CiPinMonthNum', title: '累计', align: 'center', rowspan: 2, formatter: function (value, row, index) { return value == 0 ? '' : value } },
                        { title: '甲班', align: 'center', colspan: 2 },
                        { title: '乙班', align: 'center', colspan: 2 }], [
                        { field: 'JiaZhengPinNum', title: '年累计正品', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                        { field: 'JiaCiPinNum', title: '年累计次品', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                        { field: 'YiZhengPinNum', title: '年累计正品', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                        { field: 'YiCiPinNum', title: '年累计次品', align: 'center', formatter: function (value, row, index) { return value == 0 ? '' : value } },
                        ]]
                });
            } 
            cleanDatagrid();
            $('#tt').datagrid('reload');
        }
        
        function SplitProductGG(value) {
            var ay = value.split('——');
            return ay[0] + "——" + ay[1];
        }

        function CheckPductName(value) {
            var ay = value.split('——');
            if (ay[2] == 0) {
                return 'yellow';
            }
            if (ay[2] == 1) {
                return 'silver';
            }
        }
        //数字验证
        function num(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个, 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3'); //只能输入两个小数
        }
        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hour = date.getHours()< 10 ? "0" +date.getHours():date.getHours();
            var minutes = date.getMinutes()<10?"0"+date.getMinutes():date.getMinutes();
            var seconds = date.getSeconds()<10?"0"+date.getSeconds():date.getSeconds();
            return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minutes + ":" + seconds;
        }
        function ChangeDateFormat2(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    </script>
</head>
<body class="easyui-layout">
    <div id="divBtn" data-options="region:'west',split:true,title:'选项'" class="easyui-panel btnlink " style="width:150px; padding:8px;">
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="DayExcelModel" style="width:98%;margin:10px auto">日报记录</a>
        <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" id="TongJiModel" style="width:98%;margin:10px auto">统计模块</a>
    </div>
    <div data-options="region:'center',title:'数据报表'" id="dgdiv">
        <div id="TTdiv">
            <table id="tt" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit">
            </table>
        </div>
    </div>
    <div id="AddBtnDIV" style="padding:5px;height:auto">
        <div style="margin-bottom:5px">
            <a href="#" class="easyui-linkbutton" id="AddBtn" iconCls="icon-add" plain="true">添加日报</a>
        </div>
    </div>
    <div id="TJTypeDIV" style="padding:5px;height:auto;width:auto;display:flex;flex-direction:row; flex-wrap:nowrap;align-items:center;">
        <div style="margin-bottom:5px;width:auto;height:auto">
            <input type="radio" name="TJtype" id="TjByDay" value="day" />按日统计生产日报表
            <!--<input type="radio" name="TJtype" id="TjByDayWin" value="dayWin" />按日统计产品日报表-->
            <input type="radio" name="TJtype" id="TjByMonth" value="month"/>按日统计产品日报表
            <input type="radio" name="TJtype" id="TjByYear" value="year"/>按年统计
        部门列表：<input class="easyui-combobox" id="InfoExcelMsg"
                    url="/SCCJ/GetBuMenList"
            valueField="ID"
            textField="Name"
            panelHeight="200px"
            style="width:100px" />
            <!--<label id="tjDayWin">统计日期：<input type="text" class="easyui-datebox" id="excelYMDWin" /><input type="button" value="日统计" onclick="toTj('dayWin')" /><input type="button" value="导出产品日统计表" onclick="toExcel('dayWin')" /></label>-->
        <label id="tjDay">统计日期：<input type="text" class="easyui-datebox" id="excelYMD" /><input type="button" value="日统计" onclick="toTj('day')" /><input type="button" value="导出生产日统计表" onclick="toExcel('day')" /></label>
        <label id="tjMonth">统计日期：<input type="text" class="easyui-datebox" id="excelYM" /><input type="button" value="日统计" onclick="toTj('month')"/><input type="button" value="导出产品日统计表" onclick="toExcel('month')" /></label>
        <label id="tjYear">统计年份：<input type="text" id="excelYear" onkeyup="num(this)"/><input type="button" value="年统计" onclick="toTj('year')"/><input type="button" value="导出年统计表" onclick="toExcel('year')" /></label></div>
        <form id="ExcelForm" action="/SCCJ/GetExcelTable" method="post">
            <input id="Action" name="Action" type="hidden" value="outexcel" />
            <input id="OFtable" name="OFtable" type="hidden" />
        </form>
    </div>
    <!---------------添加日报表--------------------->
    <div id="AddBbInfoDIV" style="height:100%; width:100%;">
        @using (Ajax.BeginForm("AddorEditSccjInfo", "SCCJ", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAddBbInfo" }, new { id = "AddBbInfofrom" }))
        {<table id="Upfiletab">
            <tr>
                <td>时间</td>
                <td><input type="text" class="easyui-datebox" name="Wtime" id="Wtime"/><input type="text" id="idval" name="ID" hidden/></td>
            </tr>
             <tr>
                 <td>部门</td>
                 <td><input class="easyui-combobox" id="BuMenid"
                            name="BuMenid"
                            url="/SCCJ/GetBuMenList"
                            valueField="ID"
                            textField="Name"
                            panelHeight="200px"
                            style="width:100px" /></td>
             </tr>
             <tr>
                 <td>产品名称</td>
                 <td>
                     <input class="easyui-combobox" id="ProductNameId"
                            name="ProductNameId"
                            url="/SCCJ/GetCPNameList"
                            valueField="ID"
                            textField="MyTexts"
                            panelHeight="200px"
                            style="width:100px" />
                 </td>
             </tr>
             <tr>
                 <td>产品规格</td>
                 <td>
                     <input class="easyui-combobox" id="ProductGGId"
                            name="ProductGGId"
                            valueField="ID"
                            textField="MyTexts"
                            panelHeight="200px"
                            style="width:100px" />
                 </td>
             </tr>
             <tr>
                 <td>产品级别</td>
                 <td>
                     <input class="easyui-combobox" id="ProductJB"
                            name="ProductJB"
                            url="/SCCJ/GetCPJBList"
                            valueField="ID"
                            textField="MyTexts"
                            panelHeight="200px"
                            style="width:100px;height:50px" />
                 </td>
             </tr>
             <tr>
                 <td>甲班</td>
                 <td> </td>
                 <td>乙班</td>
                 <td> </td>
             </tr>
             <tr><td>一等品</td><td><input type="text" id="JiaYiDengPinNum" name="JiaYiDengPinNum" value="0" onkeyup="num(this)" /></td><td>一等品</td><td><input type="text" id="YiYiDengPinNum" name="YiYiDengPinNum" onkeyup="num(this)" value="0" /></td></tr>
             <tr><td>合格品</td><td><input type="text" id="JiaHeGePinNum" name="JiaHeGePinNum" value="0"onkeyup="num(this)" /></td><td>合格品</td><td><input type="text" id="YiHeGePinNum" name="YiHeGePinNum" onkeyup="num(this)" value="0"/></td></tr>
            <tr><td>次品</td><td><input type="text" id="JiaCiPinNum" name="JiaCiPinNum" value="0" onkeyup="num(this)" /></td><td>次品</td><td><input  type="text" id="YiCiPinNum" name="YiCiPinNum" value="0" onkeyup="num(this)"/></td></tr>
             <tr><td>优等品</td><td><input type="text" id="JiaYouDengPinNum" name="JiaYouDengPinNum" value="0" onkeyup="num(this)" /></td><td>优等品</td><td><input type="text" id="YiYouDengPinNum" name="YiYouDengPinNum" value="0" onkeyup="num(this)" /></td></tr>
             <tr><td>废品</td><td><input type="text" id="JiaFeiPinNum" name="JiaFeiPinNum" onkeyup="num(this)" value="0" /></td><td>废品</td><td><input type="text" id="YiFeiPinNum" name="YiFeiPinNum" onkeyup="num(this)" value="0" /></td></tr>
        </table>
            <table>
                <tbody id="Selebody"></tbody>
            </table>
        }
    </div>
</body>
</html>


