body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.label-top{
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
}
.loader {
  background: #4FA8AF;
  color: #275457;
  width: 100px;
  height: 100px;
  font-size: 13px;
  text-align: center;
  line-height: 100px;
  -moz-box-shadow: 0 0 0 20px rgba(14, 157, 168, 0), inset 0 0 5px #0c8a90, 0 1px 1px 1px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 0 20px rgba(14, 157, 168, 0), inset 0 0 5px #0c8a90, 0 1px 1px 1px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 0 20px rgba(14, 157, 168, 0), inset 0 0 5px #0c8a90, 0 1px 1px 1px rgba(255, 255, 255, 0.4);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: loading 2s infinite ease-in-out;
  -moz-animation: loading 2s infinite ease-in-out;
  animation: loading 2s infinite ease-in-out;
}